@font-face {
  font-family: "Strapel";
  src: url("../assets/font/Stapel-Light.ttf");
}
@font-face {
  font-family: "Strapel medium";
  src: url("../assets/font/Stapel-Medium.ttf");
}
@font-face {
  font-family: "Strapel bold";
  src: url("../assets/font/Stapel-Bold.ttf");
}
@font-face {
  font-family: "Strapel light";
  src: url("../assets/font/Stapel-Light.ttf");
}
body {
  background-color: #08090c;
  color: #afb0b2;
  font-family: "Strapel";
}

main.content {
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content {
  margin: 35px 35px 0 35px;
  width: 100%;
  min-width: 0;
}
main.content .main_section_content .main {
  display: flex;
  justify-content: center;
  width: 100%;
}
main.content .main_section_content .main .main_section {
  margin-right: 20px;
  max-width: 820px;
  min-width: 0;
}
main.content .main_section_content .main .main_section .section_slider {
  padding: 20px 20px 13px;
  background-color: #101113;
  border-radius: 20px;
}
main.content .main_section_content .main .main_section .slider_wrapper {
  width: 100%;
  overflow-x: hidden;
  margin: auto;
}
main.content .main_section_content .main .main_section .slider {
  display: flex;
  transition: ease 0.5s;
}
main.content .main_section_content .main .main_section .slider .slide {
  margin: 0 10px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  width: 1000px;
}
main.content .main_section_content .main .main_section .slider .slide:first-child {
  margin-left: 0;
}
main.content .main_section_content .main .main_section .slider .slide.slide_1 {
  background-image: url("../assets/main/bonus_v1_RU.png");
  background-size: cover;
}
main.content .main_section_content .main .main_section .slider .slide.slide_2 {
  background-image: url("../assets/main/update_avatar_RU.png");
  background-size: cover;
  display: flex;
  padding: 20px 0 20px 17px;
  flex-direction: column;
  justify-content: space-between;
}
main.content .main_section_content .main .main_section .slider .slide.slide_2 h2 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
}
main.content .main_section_content .main .main_section .slider .slide.slide_2 button {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  background-color: #bd52fd;
  color: #101010;
  padding: 7.5px 27px 4.5px 27px;
}
main.content .main_section_content .main .main_section .dots_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 0;
}
main.content .main_section_content .main .main_section .dots_wrapper .arrow {
  height: 13px;
}
main.content .main_section_content .main .main_section .dots_wrapper .arrow svg {
  stroke: #1b1c1e;
}
main.content .main_section_content .main .main_section .dots_wrapper .arrow:first-child {
  margin-right: 15px;
  transform: rotate(180deg) translateY(-3.57px);
}
main.content .main_section_content .main .main_section .dots_wrapper .arrow:last-child {
  margin-left: 15px;
}
main.content .main_section_content .main .main_section .dots_wrapper .dots {
  display: flex;
  transform: translateY(2px);
  width: 78px;
}
main.content .main_section_content .main .main_section .dots_wrapper .dots .dot {
  display: block;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #646464;
  width: 15px;
  height: 5px;
  transition: all 0.3s ease;
}
main.content .main_section_content .main .main_section .dots_wrapper .dots .dot.active {
  background-color: #a4a4a4;
  width: 30px;
  height: 5px;
}
main.content .main_section_content .main section.playing {
  margin-top: 20px;
  padding: 20px;
  background-color: #101113;
  border-radius: 20px;
}
main.content .main_section_content .main section.playing .favorite_games {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content .main section.playing .favorite_games > h2 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 19px;
  line-height: 24px;
}
main.content .main_section_content .main section.playing .favorite_games .choice-play {
  display: flex;
  flex: none;
  align-items: center;
}
main.content .main_section_content .main section.playing .favorite_games .bones,
main.content .main_section_content .main section.playing .favorite_games .football {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #1b1c1e;
  border-radius: 10px;
  flex: none;
}
main.content .main_section_content .main section.playing .favorite_games .select {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
  flex: none;
  margin-left: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #1b1c1e;
  padding: 7px 17px;
  border-radius: 10px;
}
main.content .main_section_content .main section.playing .favorite_games .select svg {
  transform: rotate(180deg);
  margin-left: 15px;
  fill: #a8a9ab;
}
main.content .main_section_content .main section.playing .share_section {
  position: relative;
  border-radius: 22px;
  height: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(249deg, #2d2f36 0%, black 100%);
  border: 1px solid #151619;
}
main.content .main_section_content .main section.playing .share_section .content {
  position: relative;
  padding: 30px 0 24px 21px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
main.content .main_section_content .main section.playing .share_section .content .title h1 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 22px;
  line-height: 20px;
  color: #bd52fd;
}
main.content .main_section_content .main section.playing .share_section .content .title p {
  font-family: "Strapel light";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
  color: white;
}
main.content .main_section_content .main section.playing .share_section .content button {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  width: 131px;
  padding: 10px 23px 12px 23px;
  height: 36px;
  background: linear-gradient(90deg, #e6bdff 0%, #bd52fd 100%);
  border-radius: 8px;
  text-transform: uppercase;
  color: #000000;
}
main.content .main_section_content .main section.playing .share_section .close_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(8, 9, 12, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main.content .main_section_content .main section.playing .share_section .close_content img {
  width: 54px;
}
main.content .main_section_content .main section.playing .share_section .close_content h3 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
  color: #4d4b4b;
}
main.content .main_section_content .main section.playing .share_section.block:before {
  filter: blur(2px);
}
main.content .main_section_content .main section.playing .share_section.block .content {
  filter: blur(2px);
}
main.content .main_section_content .main section.playing .share_section.no_block .close_content {
  display: none;
}
main.content .main_section_content .main section.playing .share_section::before {
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
main.content .main_section_content .main section.playing .section_1_2 {
  display: grid;
  grid-template-columns: 4.6fr 2.75fr;
  gap: 0px 20px;
}
main.content .main_section_content .main section.playing .section_3_4 {
  margin-top: 20px;
  height: 200px;
  display: grid;
  grid-template-columns: 2.75fr 4.6fr;
  gap: 0px 20px;
}
main.content .main_section_content .main section.playing .section_1 {
  aspect-ratio: 400/192;
}
main.content .main_section_content .main section.playing .section_1::before {
  background-image: url("../assets/main/Pattern1.svg");
}
main.content .main_section_content .main section.playing .section_2 .content .title h1 {
  color: #fdf74b;
}
main.content .main_section_content .main section.playing .section_2 .content button {
  background: linear-gradient(90deg, #fffcb2 0%, #fdf74b 100%);
}
main.content .main_section_content .main section.playing .section_2::before {
  background-image: url("../assets/main/Pattern5.svg");
}
main.content .main_section_content .main section.playing .section_3 {
  aspect-ratio: 400/192;
}
main.content .main_section_content .main section.playing .section_3 .content .title h1 {
  color: #91e2fd;
}
main.content .main_section_content .main section.playing .section_3 .content button {
  background: linear-gradient(90deg, #b2ecff 0%, #91e2fd 100%);
}
main.content .main_section_content .main section.playing .section_3::before {
  background-image: url("../assets/main/Pattern3.svg");
}
main.content .main_section_content .main section.playing .section_4::before {
  background-image: url("../assets/main/Pattern1.svg");
}
main.content .main_section_content .main section .leaderboard {
  margin-top: 52px;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 5px;
  padding: 20px;
  background-color: #101113;
  border-radius: 20px;
}
main.content .main_section_content .main section .leaderboard thead {
  font-family: "Strapel medium";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  background-color: #161719;
}
main.content .main_section_content .main section .leaderboard thead th {
  color: #4c4d4f;
  padding-top: 11px;
  padding-bottom: 8px;
}
main.content .main_section_content .main section .leaderboard thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
main.content .main_section_content .main section .leaderboard thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main.content .main_section_content .main section .leaderboard tbody tr {
  background-color: #161719;
  height: 56px;
}
main.content .main_section_content .main section .leaderboard tbody tr td {
  align-items: center;
}
main.content .main_section_content .main section .leaderboard tbody tr td:first-child {
  font-family: "Strapel bold";
  letter-spacing: 0.45px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main.content .main_section_content .main section .leaderboard tbody tr td:first-child .flexbox {
  display: flex;
  align-items: center;
}
main.content .main_section_content .main section .leaderboard tbody tr td:first-child span:nth-child(2) {
  margin-left: 10px;
}
main.content .main_section_content .main section .leaderboard tbody tr td:first-child span:last-child {
  font-family: "Strapel expanded bold";
  letter-spacing: 0.45px;
  font-size: 10px;
  line-height: 16px;
  line-height: 20px;
  display: block;
  margin-left: 8px;
  color: #91e2fd;
}
main.content .main_section_content .main section .leaderboard tbody tr td:nth-child(2) {
  font-family: "Strapel medium";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
}
main.content .main_section_content .main section .leaderboard tbody tr td:nth-child(2) span:last-child {
  color: #5e5e5e;
}
main.content .main_section_content .main section .leaderboard tbody tr td:last-child {
  font-family: "Strapel medium";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
  color: #bcbcbc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main.content .main_section_content .optional_section {
  border-bottom-left-radius: 30px;
  width: 100%;
  max-width: 409px;
  padding: 20px;
  background-color: #101113;
  border-radius: 20px;
  border-left: 1px solid #111215;
}
main.content .main_section_content .optional_section .section_1 {
  aspect-ratio: 380/225;
  background-image: url("../assets/main/optional-bonus.png");
  background-size: cover;
}
main.content .main_section_content .optional_section .section_1 div {
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
main.content .main_section_content .optional_section .section_1 div img {
  width: 108px;
}
main.content .main_section_content .optional_section .section_1 div h2 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
main.content .main_section_content .optional_section .section_2 {
  margin-top: 20px;
  aspect-ratio: 380/225;
  background-image: url("../assets/main/optional-bonus3.png");
  background-size: cover;
}
main.content .main_section_content .optional_section .section_2 div {
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main.content .main_section_content .optional_section .section_2 div button {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #83dbf9;
  color: #101010;
  padding: 7px 22px 5px 22px;
  text-transform: uppercase;
}
main.content .main_section_content .optional_section .section_2 div h2 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
main.content .main_section_content .optional_section .match_info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.content .main_section_content .optional_section .match_info h3 {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 18px;
  line-height: 26px;
  color: #bdbdbd;
}
main.content .main_section_content .optional_section .match_info .share {
  display: flex;
}
main.content .main_section_content .optional_section .match_info .share .type_match {
  font-size: 16px;
  background-color: #161719;
  border-radius: 10px;
  display: flex;
}
main.content .main_section_content .optional_section .match_info .share .type_match button {
  font-family: "Strapel medium";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
  padding: 0 19px;
  height: 100%;
  border: 1px solid rgba(255, 0, 0, 0);
  color: #bdbdbd;
}
main.content .main_section_content .optional_section .match_info .share .type_match button.active {
  background-color: #1b1c1e;
  border-radius: 10px;
  border: 1px solid #262729;
}
main.content .main_section_content .optional_section .match_info .share .notification {
  border-radius: 10px;
  margin-left: 7px;
  width: 40px;
  height: 40px;
  background-color: #1b1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content .main_section_content .optional_section .match_info .share .notification img {
  width: 13px;
}
main.content .main_section_content .optional_section .matches {
  margin-top: 29px;
}
main.content .main_section_content .optional_section .matches li {
  padding: 15px;
  height: 181px;
  border-radius: 10px;
  border: 1px solid #222325;
  text-align: center;
  margin-bottom: 10px;
}
main.content .main_section_content .optional_section .matches li .header {
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content .optional_section .matches li .team {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main.content .main_section_content .optional_section .matches li .team span {
  font-family: "Strapel medium";
  letter-spacing: 0.45px;
  font-size: 13px;
  line-height: 16px;
  margin-top: 9px;
  color: #acacac;
}
main.content .main_section_content .optional_section .matches li .team img {
  width: 40px;
  margin: auto;
}
main.content .main_section_content .optional_section .matches li .info h2 {
  font-family: "Strapel bold";
  letter-spacing: 0.45px;
  font-size: 14px;
  line-height: 18px;
  color: #bcbcbc;
}
main.content .main_section_content .optional_section .matches li .info p {
  font-family: "Strapel medium";
  letter-spacing: 0.45px;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
  color: #4c4d4f;
}
main.content .main_section_content .optional_section .matches li .info span {
  font-family: "Strapel bold";
  letter-spacing: 0.45px;
  font-size: 22px;
  line-height: 26px;
  display: block;
  padding-top: 11px;
  color: #1e1e1e;
}
main.content .main_section_content .optional_section .matches li .description {
  font-family: "Strapel medium";
  letter-spacing: 0.45px;
  font-size: 12px;
  line-height: 15px;
  display: block;
  margin-top: 14px;
  color: #4c4d4f;
}
main.content .main_section_content .optional_section .matches li button {
  font-family: "Strapel bold";
  letter-spacing: 0.45px;
  font-size: 14px;
  line-height: 26px;
  height: 40px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #bcbcbc;
  display: block;
  background-color: #1b1c1e;
  border-radius: 1px solid #262729;
  width: 100%;
  padding: 7px 7px 4px 7px;
  border-radius: 10px;
}
main.content .main_section_content .optional_section .watch_all {
  font-family: "Strapel bold";
  letter-spacing: normal;
  font-size: 16px;
  line-height: 26px;
  display: block;
  text-transform: uppercase;
  background-color: #1b1c1e;
  color: #bcbcbc;
  padding: 9px 29px 4px 29px;
  border: 1px solid #262729;
  border-radius: 10px;
  margin: 30px auto 0;
}
main.content .right_sidebar {
  padding: 35px 15px 50px 15px;
  background-color: #0d0e11;
  width: 300px;
  position: sticky;
  height: calc(100vh - 90px);
  top: 90px;
  flex: none;
  overflow-y: scroll;
  border-left: 1px solid #151619;
}
main.content .right_sidebar::-webkit-scrollbar {
  display: none;
}
main.content .right_sidebar .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
main.content .right_sidebar .header .users {
  flex: none;
  background-color: #1b1c1e;
  width: 123px;
  height: 35px;
  border-radius: 7px;
  display: flex;
  padding-left: 23px;
  align-items: center;
}
main.content .right_sidebar .header .users span {
  margin-top: 5px;
  position: relative;
  font-family: "Strapel medium";
  font-size: 13px;
  margin-right: 9px;
}
main.content .right_sidebar .header .users span::after {
  content: "";
  position: absolute;
  width: 4.5px;
  height: 4px;
  left: -10px;
  top: 5px;
  border-radius: 100%;
  background-color: #a8a9ab;
}
main.content .right_sidebar .header .users img:nth-child(2) {
  z-index: 3;
}
main.content .right_sidebar .header .users img:nth-child(3) {
  transform: translateX(-5px);
  z-index: 2;
}
main.content .right_sidebar .header .users img:nth-child(4) {
  transform: translateX(-11px);
  z-index: 1;
}
main.content .right_sidebar .header .rules {
  font-family: "Strapel medium";
  font-size: 14px;
  background-color: #1b1c1e;
  height: 35px;
  padding: 8px 16px 9px 16px;
  border-radius: 7px;
  margin-left: 5px;
}
main.content .right_sidebar .header .next {
  background-color: #1b1c1e;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content .right_sidebar .header .next img {
  width: 7px;
}/*# sourceMappingURL=style.css.map */