@import "variables";

@mixin strapel(
  $font_size: 19px,
  $font_weight: "",
  $line_height: 24px,
  $letter_spacing: normal
) {
  $font_family: "Strapel";
  @if ($font_weight) != "" {
    $font_family: $font_family + " " + $font_weight;
  }
  font-family: $font_family;
  letter-spacing: $letter_spacing;
  font-size: $font_size;
  line-height: $line_height;
}

@mixin typeography1 {
  @include strapel($font_size: 19px, $font_weight: "bold", $line_height: 24px);
}

@mixin typeography2 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 26px);
}
@mixin typeography3 {
  @include strapel($font_size: 22px, $font_weight: "bold", $line_height: 20px);
}
@mixin typeography4 {
  @include strapel($font_size: 16px, $font_weight: "light", $line_height: 20px);
}
@mixin typeography5 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 20px);
}
@mixin typeography6 {
  @include strapel($font_size: 20px, $font_weight: "bold", $line_height: 20px);
}
@mixin typeography7 {
  @include strapel(
    $font_size: 16px,
    $font_weight: "medium",
    $line_height: 26px
  );
}
@mixin typeography8 {
  @include strapel(
    $font_size: 15px,
    $font_weight: "bold",
    $line_height: 20px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography9 {
  @include strapel(
    $font_size: 16px,
    $font_weight: "medium",
    $line_height: 26px
  );
}
@mixin typeography10 {
  @include strapel($font_size: 18px, $font_weight: "bold", $line_height: 26px);
}
@mixin typeography11 {
  @include strapel(
    $font_size: 12px,
    $font_weight: "bold",
    $line_height: 17px,
    $letter_spacing: 0.45px
  );
}

@mixin typeography12 {
  @include strapel(
    $font_size: 14px,
    $font_weight: "medium",
    $line_height: 17px,
    $letter_spacing: 0.45px
  );
}

@mixin typeography13 {
  @include strapel(
    $font_size: 12px,
    $font_weight: "medium",
    $line_height: 17px,
    $letter_spacing: 0.45px
  );
}
/////
@mixin typeography14 {
  @include strapel($font_size: 22px, $font_weight: "bold", $line_height: 36px);
}
@mixin typeography15 {
  @include strapel($font_size: 22px, $font_weight: "bold", $line_height: 26px);
}
@mixin typeography16 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 20px);
}
@mixin typeography17 {
  @include strapel($font_size: 18px, $font_weight: "bold", $line_height: 26px);
}
@mixin typeography18 {
  @include strapel($font_size: 18px, $font_weight: "bold", $line_height: 26px);
}
@mixin typeography19 {
  @include strapel(
    $font_size: 16px,
    $font_weight: "medium",
    $line_height: 26px
  );
}
@mixin typeography20 {
  @include strapel(
    $font_size: 13px,
    $font_weight: "medium",
    $line_height: 16px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography21 {
  @include strapel(
    $font_size: 14px,
    $font_weight: "bold",
    $line_height: 18px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography22 {
  @include strapel(
    $font_size: 12px,
    $font_weight: "medium",
    $line_height: 15px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography23 {
  @include strapel(
    $font_size: 22px,
    $font_weight: "bold",
    $line_height: 26px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography24 {
  @include strapel(
    $font_size: 12px,
    $font_weight: "medium",
    $line_height: 15px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography25 {
  @include strapel(
    $font_size: 14px,
    $font_weight: "bold",
    $line_height: 26px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography26 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 26px);
}
//////
///
@mixin typeography27 {
  @include strapel($font_size: 22px, $font_weight: "bold", $line_height: 25px);
}

@mixin typeography28 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 20px);
}
///

///
@mixin typeography29 {
  @include strapel($font_size: 18px, $font_weight: "bold", $line_height: 28px);
}
@mixin typeography30 {
  @include strapel(
    $font_size: 13px,
    $font_weight: "medium",
    $line_height: 16px
  );
}
@mixin typeography31 {
  @include strapel(
    $font_size: 11px,
    $font_weight: "medium",
    $line_height: 14px,
    $letter_spacing: 0.88px
  );
}

@mixin typeography32 {
  @include strapel($font_size: 16px, $font_weight: "bold", $line_height: 25px);
}
@mixin typeography33 {
  @include strapel(
    $font_size: 15px,
    $font_weight: "medium",
    $line_height: 28px
  );
}

@mixin typeography34 {
  @include strapel(
    $font_size: 16px,
    $font_weight: "medium",
    $line_height: 20px
  );
}
@mixin typeography35 {
  @include strapel(
    $font_size: 10px,
    $font_weight: "expanded bold",
    $line_height: 16px,
    $letter_spacing: 0.45px
  );
}
@mixin typeography36 {
  @include strapel($font_size: 17px, $font_weight: "bold", $line_height: 20px);
}

@mixin button_woodsmoke($border_radius: 10px) {
  background-color: $bg_woodsmoke_shark;

  border-radius: $border_radius;
  &:hover {
    background-color: $bg_woodsmoke_light4;
  }
}
@mixin center_img() {
  display: flex;
  justify-content: center;
  align-items: center;
}
