$bg_cinder: #08090c;
$bg_woodsmoke: #0a0b0e;
$bg_woodsmoke_light: #0d0e11;
$bg_woodsmoke_light2: #101113;
$bg_woodsmoke_light3: #111214;
$bg_woodsmoke_light4: #141517;
$bg_woodsmoke_light5: #161719;
$bg_woodsmoke_shark: #1b1c1e;

$bg_dove_gray: #646464;
$bg_silver_chalice: #a4a4a4;

$bg_dodger_blue: #347afe;
$bg_heliotropeapprox: #bd52fd;
$bg_malibu: #83dbf9;
$bg_anakiwa: #91e2fd;
$bg_gorse: #fdf74b;

$text_black: #000000;
$text_god_gray: #101010;
$text_god_gray2: #1e1e1e;
$text_daisy_bush: #551a8b;
$text_tuna: #3d3f43;
$text_tundora: #4d4b4b;
$text_abbey: #4c4d4f;
$text_scorpion: #5e5e5e;
$text_dove_gray: #727272;
$text_boulder: #7c7c7c;
$text_red: #ff0000;
$text_lavender_purple: #9883b0;
$text_bali_hai: #83a3b0;
$text_silver_chalice: #acacac;
$text_bombay: #afb0b2;
$text_silver: #bcbcbc;
$text_silver2: #bdbdbd;
$text_prelude: #cebce3;
$text_ziggurat: #bcd7e3;
$text_stark_white: #e3dcbc;
$text_white: #ffffff;
$text_scarpa_flow: #595063;
$text_kokoda: #636150;
$text_iver_bed: #506063;

$border_shark: #191a1c;
