@import "variables", "mixin";

header.header {
  z-index: 500;
  position: sticky;
  top: 0;
  .typical-heder-block {
    @include button_woodsmoke();
    svg {
      fill: #a8a9ab;
    }
  }
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
  }
  height: 90px;
  background-color: $bg_woodsmoke_light3;
  border-bottom: 1px solid $border_shark;
  padding: 18px 27px 18px 14px;
  .back {
    width: 53px;
    height: 53px;
    svg {
      transition: all 0.3s ease;
      transform: rotate(-90deg);
      fill: #3b3c3e;
    }
    &.active svg {
      transform: rotate(-30deg);
    }
  }
  a.logo {
    margin-left: 43px;
  }
  .bonus {
    margin-left: 86px;
    background-color: $bg_heliotropeapprox;
    padding: 15px 23px 15px 22px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    span {
      font-family: "Strapel bold";
      text-transform: uppercase;
      font-size: 18px;
      margin-left: 10px;
      color: $text_black;
    }
  }
  //// twos div
  .wallet {
    display: flex;
    padding-left: 14px;
    padding-right: 7px;
    align-items: center;
    @include typeography34;
    > img {
      margin-right: 15px;
      color: red;
    }

    button.money {
      display: flex;
      align-items: center;
      svg {
        fill: #a8a9ab;
        margin: 0 16px 0 30px;
      }
    }

    .add_wallet {
      width: 39px;
      height: 39px;
      background-color: $bg_anakiwa;
      border-radius: 8px;
      @include center_img;
    }
  }
  &.is_login {
    .wallet,
    .profile,
    .notification,
    .menu {
      display: none;
    }
    .messages,
    .login,
    .register {
      display: block;
    }
  }
  .login {
    display: none;
    @include typeography36;
    color: #a8a9ab;
    text-transform: uppercase;
    width: 117px;
  }
  .register {
    display: none;
    @include typeography36;
    background-color: $bg_gorse;
    color: $text_god_gray;
    text-transform: uppercase;
    width: 180px;
    &:hover {
      background-color: $bg_gorse;
      opacity: 0.9;
    }
  }
  .profile {
    display: flex;
    align-items: center;

    margin-left: 10px;
    padding: 7px;
    border-radius: 10px;
    img {
      border-radius: 9px;
      border: 1px solid $bg_gorse;
    }
    svg {
      margin: 13px 10px 13px 17px;
    }
    .modal_profile {
      display: none;
    }
  }
  .language {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    @include center_img;
  }
  .settings {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    @include center_img;
  }
  .notification {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    @include center_img;
  }
  .menu {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    background-color: $bg_gorse;
    border-radius: 10px;
    @include center_img;
    svg {
      fill: #000000;
    }
  }
  .messages {
    @include center_img;
    display: none;
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
  }
}
.left_sidebar {
  position: sticky;
  top: 90px;
  padding: 35px 15px 50px 15px;
  background-color: $bg_woodsmoke_light;
  width: 234px;
  border-right: 1px solid #151619;
  height: calc(100vh - 90px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
  &.close {
    width: 80px;
    ul:first-child {
      li {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 10px;
        .backround_item section > img {
          border-radius: 11px;
          height: 50px;
        }
      }
    }
    .bottom_content:nth-child(2) li {
      @include center_img;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 10px;
      padding: 0;
      h2 {
        display: none;
      }
      &:first-child img {
        width: 31px;
        margin: 0;
      }
      &:last-child img {
        width: 23px;
        margin: 0;
      }
    }
    .close_content {
      h3 {
        display: none;
      }
    }
    .contacts {
      display: none;
    }
  }
  ul:first-child {
    li {
      width: fit-content;
      margin-bottom: 10px;
      .backround_item.crush section .content {
        .left {
          h2 {
            color: $bg_heliotropeapprox;
          }
          div span {
            color: $text_scarpa_flow;
          }
        }
        .right {
          h2 {
            color: $text_prelude;
          }
          div span {
            color: $text_scarpa_flow;
          }
          .win_grad {
            background: linear-gradient($bg_woodsmoke_light4 0 0) padding-box,
              linear-gradient(
                  90deg,
                  rgba(189, 82, 253, 1) 0%,
                  rgba(189, 82, 253, 0.1) 100%
                )
                border-box;
            color: $text_lavender_purple;
          }
        }
      }
      .backround_item.mines section .content {
        .left {
          h2 {
            color: $bg_gorse;
          }
          div span {
            color: $text_kokoda;
          }
        }
        .right {
          h2 {
            color: $text_stark_white;
          }
          .win_grad {
            background: linear-gradient(rgba(31, 32, 37) 0 0) padding-box,
              linear-gradient(
                  90deg,
                  rgba(253, 247, 75, 1) 0%,
                  rgba(253, 247, 75, 0.1) 100%
                )
                border-box;
            color: $text_lavender_purple;
          }
        }
      }
      .backround_item.double section .content {
        .left {
          h2 {
            color: $bg_anakiwa;
          }
          div span {
            color: $text_iver_bed;
          }
        }
        .right {
          h2 {
            color: $text_ziggurat;
          }
          .win_grad {
            background: linear-gradient(rgba(31, 32, 37) 0 0) padding-box,
              linear-gradient(
                  90deg,
                  rgba(145, 226, 253, 1) 0%,
                  rgba(145, 226, 253, 0.1) 100%
                )
                border-box;
            color: $text_bali_hai;
          }
        }
      }
      .backround_item {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #191a1c;
      }

      section {
        position: relative;
        > img {
          position: absolute;
        }
        .content {
          margin-left: 50px;
          padding: 7px 13px 7px 0;
          display: flex;
          justify-content: space-between;
          .left {
            h2 {
              @include typeography29;
            }
            div {
              display: flex;
              align-items: center;
              span {
                @include typeography30;
                margin-left: 4px;
                transform: translateY(2px);
              }
            }
          }
          .right {
            h2 {
              @include typeography30;
              margin-top: 4px;
              color: $text_prelude;
            }
            .win_grad {
              @include typeography31;
              margin-top: 3px;
              text-transform: uppercase;
              width: 49px;
              height: 20px;
              padding: 3px 13px 3px 12px;
              border: 1px solid transparent;
              border-radius: 15px;
              display: inline-block;
            }
          }
        }
      }
    }
    li {
      position: relative;
      .close_content {
        outline-offset: -1px;
        outline-width: 1px;
        outline-style: solid;
        outline-color: #191a1c;

        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 100;
        background-color: rgba(8, 9, 12, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          width: 23px;
        }
        h3 {
          @include typeography32;
          margin-top: 8px;
          margin-left: 7px;
          color: $text_tundora;
          margin-right: 30px;
        }
      }
      &.block {
        .content {
          filter: blur(2px);
        }
        section img {
          filter: blur(2px);
        }
      }
      &.no_block .close_content {
        display: none;
      }
    }
  }

  .bottom_content:nth-child(2) {
    li {
      background-size: cover;
      width: 207px;
      height: 60px;
      display: flex;
      padding-left: 12px;
      align-items: center;
      img {
        width: 37px;
        margin-right: 11px;
      }
      h2 {
        @include typeography33;
        color: $text_white;
        text-transform: uppercase;
      }
    }
    li:first-child {
      background-image: url("../assets/main/mask_group1.png");
    }
    li:last-child {
      margin-top: 10px;
      background-image: url("../assets/main/mask2.png");
    }
  }
  .contacts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
footer {
  border: 1px solid #222325;
  border-radius: 20px;
  margin: 100px auto 0 auto;
  background-color: $bg_woodsmoke_light2;
  padding: 50px 50px 43px 50px;
  max-width: 1250px;
  .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    ul.items {
      display: flex;
      max-width: 712px;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      li {
        display: flex;
        &:first-child {
          img {
            width: 40px;
          }
        }
        &:nth-child(2) {
          img {
            width: 35px;
          }
        }
        &:nth-child(3) {
          img {
            width: 35px;
          }
        }
        &:last-child {
          img {
            width: 35px;
          }
        }
        div {
          margin-left: 18px;
          h3 {
            @include typeography10;
            color: $text_white;
          }
          span {
            @include typeography9;
            color: $text_abbey;
          }
        }
      }
    }
    .contacts a {
      margin-left: 17px;
      img {
        width: 37px;
      }
    }
  }
  .medium {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    h3 {
      @include typeography11;
      color: $text_silver;
    }
    ul {
      display: flex;
      li {
        margin-left: 30px;
        a {
          @include typeography12;
          color: $text_silver;
        }
      }
    }
  }
  > p {
    @include typeography13;
    color: $text_abbey;
    margin-top: 5px;
  }
}
.payments {
  margin-top: 30px;
  margin-bottom: 23px;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin-right: 32px;
    }
  }
}
.chat {
  margin-top: 20px;
  li {
    margin-bottom: 18px;
    display: flex;
    > img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .content {
      width: 100%;
      .name_time {
        display: flex;
        justify-content: space-between;
        .name {
          display: flex;
          span:first-child {
            font-family: "Strapel bold";
            font-size: 14px;
            color: $text_boulder;
          }
          span:last-child {
            @include typeography35;
            display: block;
            margin-left: 8px;
            color: #91e2fd;
          }
          &.moderate span:first-child {
            color: $bg_gorse;
            text-transform: uppercase;
          }
        }
        span {
          font-family: "Strapel medium";
          font-size: 13px;
          color: $text_tuna;
        }
      }
      p {
        font-family: "Strapel medium";
        font-size: 15px;
        color: $text_silver;
        b {
          color: $text_dove_gray;
        }
      }
    }
  }
}
.textarea {
  position: relative;
  border-radius: 15px;
  border: 1px solid #222325;
  display: flex;
  align-items: flex-start;
  padding: 23px 20px;
  textarea {
    font-family: "Strapel medium";
    font-size: 15px;
    line-height: 23px;
    color: $text_silver;
    &:focus {
      outline: none;
    }
    resize: none;
  }
  button {
    margin-left: 10px;
    width: 17px;
    height: 17px;
    img {
      width: 17px;
    }
  }
}
