@font-face {
  font-family: "Strapel";
  src: url("assets/font/Stapel-Light.ttf");
}
@font-face {
  font-family: "Strapel medium";
  src: url("assets/font/Stapel-Medium.ttf");
}
@font-face {
  font-family: "Strapel bold";
  src: url("assets/font/Stapel-Bold.ttf");
}
@font-face {
  font-family: "Strapel light";
  src: url("assets/font/Stapel-Light.ttf");
}
body {
  background-color: #08090c;
  color: #afb0b2;
  font-family: "Strapel";
}

header.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #111214;
  padding: 18px 27px 19px 14px;
}
header.header .typical-heder-block {
  background-color: #1b1c1e;
  border-radius: 10px;
}
header.header .typical-heder-block svg {
  fill: #a8a9ab;
}
header.header > div {
  display: flex;
}
header.header .back {
  width: 53px;
  height: 53px;
}
header.header a.logo {
  margin-left: 43px;
}
header.header .bonus {
  margin-left: 86px;
  background-color: #bd52fd;
  padding: 15px 23px 15px 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
header.header .bonus span {
  font-family: "Strapel bold";
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 10px;
  color: #101010;
}
header.header .wallet {
  display: flex;
  padding: 7px 7px 7px 14px;
  align-items: center;
  font-family: "Strapel bold";
  font-size: 16px;
}
header.header .wallet > img {
  margin-right: 15px;
  color: red;
}
header.header .wallet button.money {
  display: flex;
  align-items: center;
}
header.header .wallet button.money svg {
  fill: #a8a9ab;
  margin: 0 16px 0 30px;
}
header.header .wallet .add_wallet {
  width: 39px;
  height: 39px;
  background-color: #91e2fd;
  border-radius: 8px;
}
header.header .profile {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 7px;
  border-radius: 10px;
}
header.header .profile img {
  border-radius: 9px;
  border: 1px solid #fdf74b;
}
header.header .profile svg {
  margin: 13px 10px 13px 17px;
}
header.header .language {
  margin-left: 10px;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}
header.header .settings {
  margin-left: 10px;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}
header.header .notification {
  margin-left: 10px;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}
header.header .menu {
  margin-left: 10px;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
  background-color: #fdf74b;
  border-radius: 10px;
}
header.header .menu svg {
  fill: #000000;
}

main.content {
  display: flex;
  justify-content: space-between;
}
main.content .left_sidebar {
  padding: 35px 15px 0 15px;
  background-color: #0d0e11;
  width: 234px;
  border-right: 1px solid #151619;
}
main.content .left_sidebar ul:first-child li {
  width: -moz-fit-content;
  width: fit-content;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.crush
  section
  .content
  .left
  h2 {
  color: #bd52fd;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.crush
  section
  .content
  .right
  h2 {
  color: #cebce3;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.crush
  section
  .content
  .right
  .win_grad {
  background: linear-gradient(rgb(31, 32, 37) 0 0) padding-box,
    linear-gradient(90deg, rgb(189, 82, 253) 0%, rgba(189, 82, 253, 0) 100%)
      border-box;
  color: #9883b0;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.mines
  section
  .content
  .left
  h2 {
  color: #fdf74b;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.mines
  section
  .content
  .right
  h2 {
  color: #e3dcbc;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.mines
  section
  .content
  .right
  .win_grad {
  background: linear-gradient(rgb(31, 32, 37) 0 0) padding-box,
    linear-gradient(90deg, rgb(253, 247, 75) 0%, rgba(253, 247, 75, 0) 100%)
      border-box;
  color: #9883b0;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.double
  section
  .content
  .left
  h2 {
  color: #91e2fd;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.double
  section
  .content
  .right
  h2 {
  color: #bcd7e3;
}
main.content
  .left_sidebar
  ul:first-child
  li
  .backround_item.double
  section
  .content
  .right
  .win_grad {
  background: linear-gradient(rgb(31, 32, 37) 0 0) padding-box,
    linear-gradient(90deg, rgb(145, 226, 253) 0%, rgba(145, 226, 253, 0) 100%)
      border-box;
  color: #83a3b0;
}
main.content .left_sidebar ul:first-child li .backround_item {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #191a1c;
  margin-bottom: 10px;
}
main.content .left_sidebar ul:first-child li section {
  position: relative;
}
main.content .left_sidebar ul:first-child li section > img {
  position: absolute;
}
main.content .left_sidebar ul:first-child li section .content {
  margin-left: 50px;
  padding: 7px 13px 7px 0;
  display: flex;
  justify-content: space-between;
}
main.content .left_sidebar ul:first-child li section .content .left h2 {
  font-family: "Strapel bold";
  font-size: 18px;
}
main.content .left_sidebar ul:first-child li section .content .left div {
  font-family: "Strapel medium";
  display: flex;
  align-items: center;
}
main.content .left_sidebar ul:first-child li section .content .left div span {
  margin-left: 4px;
  font-size: 13px;
  transform: translateY(2px);
}
main.content .left_sidebar ul:first-child li section .content .right h2 {
  margin-top: 4px;
  font-family: "Strapel medium";
  color: #cebce3;
  font-size: 13px;
}
main.content .left_sidebar ul:first-child li section .content .right .win_grad {
  margin-top: 3px;
  font-family: "Strapel medium";
  font-size: 11px;
  text-transform: uppercase;
  width: 49px;
  height: 20px;
  padding-left: 5px;
  padding-top: 3px;
  border: 1px solid transparent;
  border-radius: 15px;
  display: inline-block;
}
main.content .left_sidebar ul:first-child li {
  position: relative;
}
main.content .left_sidebar ul:first-child li .close_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(8, 9, 12, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content .left_sidebar ul:first-child li .close_content > img {
  width: 23px;
}
main.content .left_sidebar ul:first-child li .close_content h3 {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Strapel Bold";
  color: #4d4b4b;
}
main.content .left_sidebar ul:first-child li.block .content {
  filter: blur(2px);
}
main.content .left_sidebar ul:first-child li.block section img {
  filter: blur(2px);
}
main.content .left_sidebar ul:first-child li.no_block .close_content {
  display: none;
}
main.content .left_sidebar ul:nth-child(2) {
  margin-top: 350px;
}
main.content .left_sidebar ul:nth-child(2) li {
  background-size: cover;
  width: 207px;
  height: 60px;
  display: flex;
  padding-left: 12px;
  align-items: center;
}
main.content .left_sidebar ul:nth-child(2) li img {
  width: 37px;
  margin-right: 11px;
}
main.content .left_sidebar ul:nth-child(2) li h2 {
  font-family: "Strapel medium";
  font-size: 15px;
}
main.content .left_sidebar ul:nth-child(2) li:first-child {
  background-image: url("assets/main/mask_group1.png");
}
main.content .left_sidebar ul:nth-child(2) li:last-child {
  margin-top: 10px;
  background-image: url("assets/main/mask2.png");
}
main.content .left_sidebar .contacts {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content {
  width: 100%;
}
main.content .main_section_content .main {
  display: flex;
  width: 100%;
}
main.content .main_section_content .main .main_section {
  margin: 35px auto 0 auto;
  padding: 0 35px;
  flex: 700px 0 0;
}
main.content .main_section_content .main .main_section .slider_wrapper {
  width: 100%;
  max-width: 700px;
  overflow-x: hidden;
  margin: auto;
}
main.content .main_section_content .main .main_section .slider {
  display: flex;
  transition: ease 0.5s;
}
main.content .main_section_content .main .main_section .slider .slide {
  margin: 0 10px;
  flex: 305px 0 0;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
main.content
  .main_section_content
  .main
  .main_section
  .slider
  .slide:first-child {
  margin-left: 0;
}
main.content .main_section_content .main .main_section .slider .slide.slide_1 {
  background-image: url("assets/main/bonus_v1_RU.png");
  background-size: cover;
}
main.content .main_section_content .main .main_section .slider .slide.slide_2 {
  background-image: url("assets/main/update_avatar_RU.png");
  background-size: cover;
  display: flex;
  padding: 20px 0 25px 19px;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Strapel bold";
}
main.content
  .main_section_content
  .main
  .main_section
  .slider
  .slide.slide_2
  h2 {
  font-size: 22px;
  line-height: 26px;
}
main.content
  .main_section_content
  .main
  .main_section
  .slider
  .slide.slide_2
  button {
  font-size: 16px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  background-color: #bd52fd;
  color: #101010;
  padding: 7.5px 27px 4.5px 27px;
}
main.content .main_section_content .main .main_section .dots_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content .main_section_content .main .main_section .dots_wrapper button {
  display: block;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #646464;
  width: 7px;
  height: 6px;
}
main.content
  .main_section_content
  .main
  .main_section
  .dots_wrapper
  button.active {
  background-color: #a4a4a4;
  width: 10px;
  height: 10px;
}
main.content .main_section_content .main .favorite_games {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content .main .favorite_games > h2 {
  font-family: "Strapel medium";
  font-size: 20px;
}
main.content .main_section_content .main .favorite_games .choice-play {
  display: flex;
  flex: none;
  align-items: center;
}
main.content .main_section_content .main .favorite_games .bones,
main.content .main_section_content .main .favorite_games .football {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #1b1c1e;
  border-radius: 10px;
  flex: none;
}
main.content .main_section_content .main .favorite_games .select {
  flex: none;
  font-family: "Strapel medium";
  font-size: 16px;
  margin-left: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #1b1c1e;
  padding: 7px 17px;
  border-radius: 10px;
}
main.content .main_section_content .main .favorite_games .select svg {
  transform: rotate(180deg);
  margin-left: 15px;
  fill: #a8a9ab;
}
main.content .main_section_content .main section.playing {
  margin-top: 40px;
}
main.content .main_section_content .main section.playing .share_section {
  position: relative;
  border-radius: 22px;
  height: 100%;
  height: 200px;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(249deg, #2d2f36 0%, black 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #151619;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .content {
  position: relative;
  padding: 25px 0 24px 19px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .content
  .title
  h1 {
  font-family: "Strapel bold";
  color: #bd52fd;
  font-size: 22px;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .content
  .title
  p {
  font-family: "Strapel light";
  color: white;
  font-size: 16px;
  font-weight: 400;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .content
  button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Strapel bold";
  padding: 11px 21px 8px 21px;
  background: linear-gradient(90deg, #e6bdff 0%, #bd52fd 100%);
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #101010;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .close_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(8, 9, 12, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .close_content
  img {
  width: 54px;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section
  .close_content
  h3 {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Strapel Bold";
  color: #4d4b4b;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section.block:before {
  filter: blur(2px);
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section.block
  .content {
  filter: blur(2px);
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section.no_block
  .close_content {
  display: none;
}
main.content
  .main_section_content
  .main
  section.playing
  .share_section::before {
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
main.content .main_section_content .main section.playing .section_1_2 {
  height: 200px;
  display: grid;
  grid-template-columns: 5.4fr 2.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 20px;
}
main.content .main_section_content .main section.playing .section_3_4 {
  margin-top: 20px;
  height: 200px;
  display: grid;
  grid-template-columns: 2.7fr 5.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 20px;
}
main.content .main_section_content .main section.playing .section_1::before {
  background-image: url("assets/main/Pattern1.svg");
}
main.content
  .main_section_content
  .main
  section.playing
  .section_2
  .content
  .title
  h1 {
  color: #fdf74b;
}
main.content
  .main_section_content
  .main
  section.playing
  .section_2
  .content
  button {
  background: linear-gradient(90deg, #fffcb2 0%, #fdf74b 100%);
}
main.content .main_section_content .main section.playing .section_2::before {
  background-image: url("assets/main/Pattern5.svg");
}
main.content
  .main_section_content
  .main
  section.playing
  .section_3
  .content
  .title
  h1 {
  color: #91e2fd;
}
main.content
  .main_section_content
  .main
  section.playing
  .section_3
  .content
  button {
  background: linear-gradient(90deg, #b2ecff 0%, #91e2fd 100%);
}
main.content .main_section_content .main section.playing .section_3::before {
  background-image: url("assets/main/Pattern3.svg");
}
main.content .main_section_content .main section.playing .section_4::before {
  background-image: url("assets/main/Pattern1.svg");
}
main.content .main_section_content .main section .leaderboard {
  margin-top: 52px;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 5px;
}
main.content .main_section_content .main section .leaderboard thead {
  font-family: "Strapel medium";
  text-align: left;
  background-color: #101113;
}
main.content .main_section_content .main section .leaderboard thead th {
  color: #4c4d4f;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  thead
  th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px 30px;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  thead
  th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main.content .main_section_content .main section .leaderboard tbody tr {
  background-color: #101113;
  height: 56px;
}
main.content .main_section_content .main section .leaderboard tbody tr td {
  align-items: center;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:first-child {
  padding: 8px 30px;
  font-family: "Strapel bold";
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:first-child
  .flexbox {
  display: flex;
  align-items: center;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:first-child
  .flexbox
  img:last-child {
  margin-left: 5px;
  width: 15px;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:first-child
  span {
  margin-left: 10px;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:nth-child(2) {
  font-family: "Strapel medium";
  font-size: 16px;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:nth-child(2)
  span:last-child {
  color: #5e5e5e;
}
main.content
  .main_section_content
  .main
  section
  .leaderboard
  tbody
  tr
  td:last-child {
  font-family: "Strapel medium";
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main.content .main_section_content footer {
  border: 1px solid #222325;
  border-radius: 20px;
  margin: 100px 29px 0 35px;
  background-color: #101113;
  padding: 50px 50px 43px 50px;
}
main.content .main_section_content footer .header {
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content footer .header ul.items {
  display: flex;
}
main.content .main_section_content footer .header ul.items li {
  display: flex;
}
main.content .main_section_content footer .header ul.items li img {
  width: 40px;
}
main.content .main_section_content footer .header ul.items li div {
  margin-left: 18px;
  margin-right: 35px;
}
main.content .main_section_content footer .header ul.items li div h3 {
  font-family: "Strapel bold";
  font-size: 18px;
}
main.content .main_section_content footer .header ul.items li div span {
  font-family: "Strapel medium";
  font-size: 16px;
  color: #4c4d4f;
}
main.content .main_section_content footer .header .contacts a {
  margin-right: 20px;
}
main.content .main_section_content footer .medium {
  font-family: "Strapel meduim";
  font-size: 14px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content footer .medium h3 {
  font-family: "Strapel bold";
  font-size: 12px;
  color: #bcbcbc;
}
main.content .main_section_content footer .medium ul {
  display: flex;
}
main.content .main_section_content footer .medium ul li {
  margin-left: 30px;
}
main.content .main_section_content footer .medium ul li a {
  font-family: "Strapel medium";
  font-size: 14px;
  color: #bcbcbc;
}
main.content .main_section_content footer > p {
  font-family: "Strapel medium";
  font-size: 12px;
  color: #4c4d4f;
  margin-top: 5px;
}
main.content .main_section_content .payments {
  margin-top: 30px;
  margin-bottom: 23px;
}
main.content .main_section_content .payments ul {
  display: flex;
  justify-content: center;
}
main.content .main_section_content .payments ul li {
  margin-right: 32px;
}
main.content .main_section_content .optional_section {
  padding: 35px 25px 0 25px;
  border-bottom-left-radius: 30px;
  width: 100%;
  max-width: 429px;
  background-color: #0a0b0e;
  border-left: 1px solid #111215;
}
main.content .main_section_content .optional_section .section_1 {
  aspect-ratio: 380/225;
  background-image: url("assets/main/optional-bonus.png");
  background-size: cover;
}
main.content .main_section_content .optional_section .section_1 div {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
main.content .main_section_content .optional_section .section_1 div img {
  width: 108px;
}
main.content .main_section_content .optional_section .section_1 div h2 {
  color: #ffffff;
  font-family: "Strapel bold";
  font-size: 22px;
  text-transform: uppercase;
}
main.content .main_section_content .optional_section .section_2 {
  margin-top: 20px;
  aspect-ratio: 380/225;
  background-image: url("assets/main/optional-bonus3.png");
  background-size: cover;
}
main.content .main_section_content .optional_section .section_2 div {
  font-family: "Strapel bold";
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main.content .main_section_content .optional_section .section_2 div button {
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #83dbf9;
  font-size: 16px;
  color: #101010;
  padding: 7px 22px;
}
main.content .main_section_content .optional_section .section_2 div h2 {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
}
main.content .main_section_content .optional_section .match_info {
  font-family: "Strapel medium";
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.content .main_section_content .optional_section .match_info h3 {
  font-size: 18px;
  color: #bdbdbd;
}
main.content .main_section_content .optional_section .match_info .share {
  display: flex;
}
main.content
  .main_section_content
  .optional_section
  .match_info
  .share
  .type_match {
  font-size: 16px;
  background-color: #161719;
  border-radius: 10px;
  display: flex;
}
main.content
  .main_section_content
  .optional_section
  .match_info
  .share
  .type_match
  button {
  padding: 0 19px;
  height: 100%;
  border: 1px solid rgba(255, 0, 0, 0);
}
main.content
  .main_section_content
  .optional_section
  .match_info
  .share
  .type_match
  button.active {
  background-color: #1b1c1e;
  border-radius: 10px;
  border: 1px solid #262729;
}
main.content
  .main_section_content
  .optional_section
  .match_info
  .share
  .notification {
  border-radius: 10px;
  margin-left: 7px;
  width: 40px;
  height: 40px;
  background-color: #1b1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content
  .main_section_content
  .optional_section
  .match_info
  .share
  .notification
  img {
  width: 13px;
}
main.content .main_section_content .optional_section .matches {
  margin-top: 29px;
}
main.content .main_section_content .optional_section .matches li {
  padding: 15px;
  height: 181px;
  border-radius: 10px;
  border: 1px solid #222325;
  text-align: center;
  margin-bottom: 10px;
}
main.content .main_section_content .optional_section .matches li .header {
  display: flex;
  justify-content: space-between;
}
main.content .main_section_content .optional_section .matches li .team {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main.content .main_section_content .optional_section .matches li .team span {
  font-family: "Strapel medium";
  font-size: 13px;
  color: #acacac;
}
main.content .main_section_content .optional_section .matches li .team img {
  width: 40px;
  margin: auto;
}
main.content .main_section_content .optional_section .matches li .info h2 {
  font-family: "Strapel bold";
  font-size: 14px;
  color: #bcbcbc;
}
main.content .main_section_content .optional_section .matches li .info p {
  font-family: "Strapel medium";
  font-size: 12px;
  color: #4c4d4f;
}
main.content
  .main_section_content
  .optional_section
  .matches
  li
  .info
  span:first-child {
  margin-top: 11px;
  font-family: "Strapel medium";
  font-size: 22px;
  color: #1e1e1e;
}
main.content
  .main_section_content
  .optional_section
  .matches
  li
  .info
  span:last-child {
  margin-top: 11px;
  font-family: "Strapel medium";
  font-size: 22px;
  color: #1e1e1e;
}
main.content .main_section_content .optional_section .matches li .description {
  margin-top: 14px;
  font-family: "Strapel medium";
  font-size: 12px;
  color: #4c4d4f;
}
main.content .main_section_content .optional_section .matches li button {
  height: 40px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Strapel bold";
  font-size: 14px;
  color: #bcbcbc;
  display: block;
  background-color: #1b1c1e;
  border-radius: 1px solid #262729;
  width: 100%;
  padding: 7px;
  border-radius: 10px;
}
main.content .main_section_content .optional_section .watch_all {
  font-family: "Strapel bold";
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  background-color: #1b1c1e;
  padding: 8px 29px 7px 29px;
  border: 1px solid #262729;
  border-radius: 10px;
  margin: 30px auto 0;
}
main.content .right_sidebar {
  padding: 35px 15px 0 15px;
  background-color: #0d0e11;
  width: 300px;
  border-left: 1px solid #151619;
}
main.content .right_sidebar .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
main.content .right_sidebar .header .users {
  flex: none;
  background-color: #1b1c1e;
  width: 123px;
  height: 35px;
  border-radius: 7px;
  display: flex;
  padding-left: 23px;
  align-items: center;
}
main.content .right_sidebar .header .users span {
  margin-top: 5px;
  position: relative;
  font-family: "Strapel medium";
  font-size: 13px;
  margin-right: 9px;
}
main.content .right_sidebar .header .users span::after {
  content: "";
  position: absolute;
  width: 4.5px;
  height: 4px;
  left: -10px;
  top: 5px;
  border-radius: 100%;
  background-color: #a8a9ab;
}
main.content .right_sidebar .header .users img:nth-child(2) {
  z-index: 3;
}
main.content .right_sidebar .header .users img:nth-child(3) {
  transform: translateX(-5px);
  z-index: 2;
}
main.content .right_sidebar .header .users img:nth-child(4) {
  transform: translateX(-11px);
  z-index: 1;
}
main.content .right_sidebar .header .rules {
  font-family: "Strapel medium";
  font-size: 14px;
  background-color: #1b1c1e;
  height: 35px;
  padding: 8px 16px 9px 16px;
  border-radius: 7px;
  margin-left: 5px;
}
main.content .right_sidebar .header .next {
  background-color: #1b1c1e;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.content .right_sidebar .header .next img {
  width: 7px;
}
main.content .right_sidebar .chat {
  margin-top: 20px;
}
main.content .right_sidebar .chat li {
  margin-bottom: 18px;
  display: flex;
}
main.content .right_sidebar .chat li > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
main.content .right_sidebar .chat li .content {
  width: 100%;
}
main.content .right_sidebar .chat li .content .name_time {
  display: flex;
  justify-content: space-between;
}
main.content .right_sidebar .chat li .content .name_time .name span {
  font-family: "Strapel bold";
  font-size: 14px;
  color: #7c7c7c;
}
main.content .right_sidebar .chat li .content .name_time .name.moderate span {
  color: #fdf74b;
  text-transform: uppercase;
}
main.content .right_sidebar .chat li .content .name_time .name img {
  width: 15px;
}
main.content .right_sidebar .chat li .content .name_time span {
  font-family: "Strapel medium";
  font-size: 13px;
  color: #3d3f43;
}
main.content .right_sidebar .chat li .content p {
  font-family: "Strapel medium";
  font-size: 15px;
  color: #bcbcbc;
}
main.content .right_sidebar .chat li .content p b {
  color: #727272;
}
main.content .right_sidebar .textarea {
  position: relative;
  border-radius: 15px;
  border: 1px solid #222325;
  display: flex;
  align-items: flex-start;
  padding: 23px 20px;
}
main.content .right_sidebar .textarea textarea {
  font-family: "Strapel medium";
  font-size: 15px;
  color: #bcbcbc;
  resize: none;
}
main.content .right_sidebar .textarea textarea:focus {
  outline: none;
}
main.content .right_sidebar .textarea button {
  margin-left: 10px;
  width: 17px;
  height: 17px;
}
main.content .right_sidebar .textarea button img {
  width: 17px;
} /*# sourceMappingURL=style.css.map */
