@font-face {
  font-family: "Strapel";
  src: url("assets/font/Stapel-Light.ttf");
}
@font-face {
  font-family: "Strapel medium";
  src: url("assets/font/Stapel-Medium.ttf");
}
@font-face {
  font-family: "Strapel bold";
  src: url("assets/font/Stapel-Bold.ttf");
}
@font-face {
  font-family: "Strapel light";
  src: url("assets/font/Stapel-Light.ttf");
}
$base-color: #08090c;
$bg-effect: #1b1c1e;
$bg-header: #111214;
$navbar-left: #0d0e11;

body {
  background-color: $base-color;
  color: #afb0b2;
  font-family: "Strapel";
}

// .expand {
//   img,
//   svg {
//     transition: all 0.4s ease;
//   }
//   &.active {
//     img,
//     svg {
//       transform: rotate(260deg);
//     }
//   }
// }
header.header {
  ////
  .typical-heder-block {
    background-color: $bg-effect;
    border-radius: 10px;
    svg {
      fill: #a8a9ab;
    }
  }
  ///

  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
  }
  height: 90px;
  background-color: $bg-header;
  padding: 14px 18px 27px 19px;
  .back {
    width: 53px;
    height: 53px;
  }
  a.logo {
    margin-left: 43px;
  }
  .bonus {
    margin-left: 86px;
    background-color: #bd52fd;
    padding: 15px 23px 15px 22px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    span {
      font-family: "Strapel bold";
      text-transform: uppercase;
      font-size: 18px;
      margin-left: 10px;
      color: #101010;
    }
  }
  //// twos div
  .wallet {
    display: flex;
    padding: 7px 7px 7px 14px;
    align-items: center;
    font-family: "Strapel bold";
    font-size: 16px;
    > img {
      margin-right: 15px;
      color: red;
    }

    button.money {
      display: flex;
      align-items: center;
      svg {
        fill: #a8a9ab;
        margin: 0 16px 0 30px;
      }
    }

    .add_wallet {
      width: 39px;
      height: 39px;
      background-color: #91e2fd;
      border-radius: 8px;
    }
  }
  .profile {
    display: flex;
    align-items: center;

    margin-left: 10px;
    padding: 7px;
    border-radius: 10px;
    img {
      border-radius: 9px;
      border: 1px solid #fdf74b;
    }
    svg {
      margin: 13px 10px 13px 17px;
    }
  }
  .language {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
  }
  .settings {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
  }
  .notification {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
  }
  .menu {
    margin-left: 10px;
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    background-color: #fdf74b;
    border-radius: 10px;
    svg {
      fill: #000000;
    }
  }
}

main.content {
  display: flex;
  justify-content: space-between;
  .left_sidebar {
    padding: 35px 15px 0 15px;
    background-color: #0d0e11;
    width: 234px;
    border-right: 1px solid #151619;
    ul:first-child {
      li {
        width: fit-content;
        .backround_item.crush section .content {
          .left {
            h2 {
              color: #bd52fd;
            }
          }
          .right {
            h2 {
              color: #cebce3;
            }
            .win_grad {
              background: linear-gradient(rgba(31, 32, 37) 0 0) padding-box,
                linear-gradient(
                    90deg,
                    rgba(189, 82, 253, 1) 0%,
                    rgba(189, 82, 253, 0) 100%
                  )
                  border-box;
              color: #9883b0;
            }
          }
        }
        .backround_item.mines section .content {
          .left h2 {
            color: #fdf74b;
          }
          .right {
            h2 {
              color: #e3dcbc;
            }
            .win_grad {
              background: linear-gradient(rgba(31, 32, 37) 0 0) padding-box,
                linear-gradient(
                    90deg,
                    rgba(253, 247, 75, 1) 0%,
                    rgba(253, 247, 75, 0) 100%
                  )
                  border-box;
              color: #9883b0;
            }
          }
        }
        .backround_item.double section .content {
          .left h2 {
            color: #91e2fd;
          }
          .right {
            h2 {
              color: #bcd7e3;
            }
            .win_grad {
              background: linear-gradient(rgba(31, 32, 37) 0 0) padding-box,
                linear-gradient(
                    90deg,
                    rgba(145, 226, 253, 1) 0%,
                    rgba(145, 226, 253, 0) 100%
                  )
                  border-box;
              color: #83a3b0;
            }
          }
        }
        .backround_item {
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #191a1c;
          margin-bottom: 10px;
        }

        section {
          position: relative;
          > img {
            position: absolute;
          }
          .content {
            margin-left: 50px;
            padding: 7px 13px 7px 0;
            display: flex;
            justify-content: space-between;
            .left {
              h2 {
                font-family: "Strapel bold";
                font-size: 18px;
              }
              div {
                font-family: "Strapel medium";
                display: flex;
                align-items: center;
                span {
                  margin-left: 4px;
                  font-size: 13px;
                  transform: translateY(2px);
                }
              }
            }
            .right {
              h2 {
                margin-top: 4px;
                font-family: "Strapel medium";
                color: #cebce3;
                font-size: 13px;
              }
              .win_grad {
                margin-top: 3px;
                font-family: "Strapel medium";
                font-size: 11px;
                text-transform: uppercase;
                width: 49px;
                height: 20px;
                padding-left: 5px;
                padding-top: 3px;
                border: 1px solid transparent;
                border-radius: 15px;
                display: inline-block;
              }
            }
          }
        }
      }
      li {
        position: relative;
        .close_content {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 100;
          background-color: rgba(8, 9, 12, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          > img {
            width: 23px;
          }
          h3 {
            margin-top: 10px;
            font-size: 16px;
            font-family: "Strapel Bold";
            color: #4d4b4b;
          }
        }
        &.block {
          .content {
            filter: blur(2px);
          }
          section img {
            filter: blur(2px);
          }
        }
        &.no_block .close_content {
          display: none;
        }
      }
    }
    ul:nth-child(2) {
      margin-top: 350px;
      li {
        background-size: cover;
        width: 207px;
        height: 60px;
        display: flex;
        padding-left: 12px;
        align-items: center;
        img {
          width: 37px;
          margin-right: 11px;
        }
        h2 {
          font-family: "Strapel medium";
          font-size: 15px;
        }
      }
      li:first-child {
        background-image: url("assets/main/mask_group1.png");
      }
      li:last-child {
        margin-top: 10px;
        background-image: url("assets/main/mask2.png");
      }
    }
    .contacts {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
  .main_section_content {
    width: 100%;

    .main {
      display: flex;
      width: 100%;
      .main_section {
        margin: 35px auto 0 auto;
        padding: 0 35px;
        flex: 700px 0 0;
        .slider_wrapper {
          width: 100%;
          max-width: 700px;
          overflow-x: hidden;
          margin: auto;
        }
        .slider {
          display: flex;
          transition: ease 0.5s;
          .slide {
            margin: 0 10px;
            flex: 305px 0 0;
            height: 220px;
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            &:first-child {
              margin-left: 0;
            }
            // &:last-child {
            //   margin-right: 0;
            // }
            &.slide_1 {
              background-image: url("assets/main/bonus_v1_RU.png");
              background-size: cover;
            }
            &.slide_2 {
              background-image: url("assets/main/update_avatar_RU.png");
              background-size: cover;
              display: flex;
              padding: 20px 0 25px 19px;
              flex-direction: column;
              justify-content: space-between;
              font-family: "Strapel bold";
              h2 {
                font-size: 22px;
                line-height: 26px;
              }
              button {
                font-size: 16px;
                border-radius: 8px;
                width: fit-content;
                display: block;
                background-color: #bd52fd;
                color: #101010;
                padding: 7.5px 27px 4.5px 27px;
              }
            }
          }
        }
        .dots_wrapper {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .dots_wrapper button {
          display: block;
          margin: 0 5px;
          border-radius: 100%;
          background-color: #646464;
          width: 7px;
          height: 6px;
          &.active {
            background-color: #a4a4a4;
            width: 10px;
            height: 10px;
          }
        }
      }
      .favorite_games {
        > h2 {
          font-family: "Strapel medium";
          font-size: 20px;
        }
        .choice-play {
          display: flex;
          flex: none;
          align-items: center;
        }
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .bones,
        .football {
          margin-left: 10px;
          width: 40px;
          height: 40px;
          background-color: $bg-effect;
          border-radius: 10px;
          flex: none;
        }
        .select {
          flex: none;
          font-family: "Strapel medium";
          font-size: 16px;
          margin-left: 10px;
          height: 40px;
          display: flex;
          align-items: center;
          background-color: $bg-effect;
          padding: 7px 17px;
          border-radius: 10px;
          svg {
            transform: rotate(180deg);
            margin-left: 15px;
            fill: #a8a9ab;
          }
        }
      }
      section.playing {
        margin-top: 40px;
        .share_section {
          position: relative;
          border-radius: 22px;
          height: 100%;
          height: 200px;
          overflow: hidden;
          width: 100%;
          background: linear-gradient(249deg, #2d2f36 0%, black 100%);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border: 1px solid #151619;
          .content {
            position: relative;
            padding: 25px 0 24px 19px;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            .title {
              h1 {
                font-family: "Strapel bold";
                color: #bd52fd;
                font-size: 22px;
              }
              p {
                font-family: "Strapel light";
                color: white;
                font-size: 16px;
                font-weight: 400;
              }
            }
            button {
              width: fit-content;
              font-family: "Strapel bold";
              padding: 11px 21px 8px 21px;
              background: linear-gradient(90deg, #e6bdff 0%, #bd52fd 100%);
              border-radius: 8px;
              font-weight: bold;
              text-transform: uppercase;
              color: #101010;
            }
          }
          .close_content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 100;
            background-color: rgba(8, 9, 12, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
              width: 54px;
            }
            h3 {
              margin-top: 10px;
              font-size: 20px;
              font-family: "Strapel Bold";
              color: #4d4b4b;
            }
          }
          &.block {
            &:before {
              filter: blur(2px);
            }
            .content {
              filter: blur(2px);
            }
          }
          &.no_block .close_content {
            display: none;
          }

          &::before {
            content: "";
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
        .section_1_2 {
          height: 200px;
          display: grid;
          grid-template-columns: 5.4fr 2.7fr;
          grid-template-rows: 1fr 1fr;
          gap: 0px 20px;
        }
        .section_3_4 {
          margin-top: 20px;
          height: 200px;
          display: grid;
          grid-template-columns: 2.7fr 5.4fr;
          grid-template-rows: 1fr 1fr;
          gap: 0px 20px;
        }
        .section_1 {
          &::before {
            background-image: url("assets/main/Pattern1.svg");
          }
        }
        .section_2 {
          .content {
            .title h1 {
              color: #fdf74b;
            }
            button {
              background: linear-gradient(90deg, #fffcb2 0%, #fdf74b 100%);
            }
          }
          &::before {
            background-image: url("assets/main/Pattern5.svg");
          }
        }
        .section_3 {
          .content {
            .title h1 {
              color: #91e2fd;
            }
            button {
              background: linear-gradient(90deg, #b2ecff 0%, #91e2fd 100%);
            }
          }
          &::before {
            background-image: url("assets/main/Pattern3.svg");
          }
        }
        .section_4 {
          &::before {
            background-image: url("assets/main/Pattern1.svg");
          }
        }
      }

      section .leaderboard {
        margin-top: 52px;
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 5px;

        thead {
          font-family: "Strapel medium";
          text-align: left;
          background-color: #101113;

          th {
            color: #4c4d4f;
          }
          th:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 12px 30px;
          }
          th:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        tbody {
          tr {
            background-color: #101113;
            height: 56px;
            td {
              align-items: center;
            }
            td:first-child {
              padding: 8px 30px;
              font-family: "Strapel bold";
              font-size: 15px;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              .flexbox {
                display: flex;
                align-items: center;
                img:last-child {
                  margin-left: 5px;
                  width: 15px;
                }
              }
              span {
                margin-left: 10px;
              }
            }
            td:nth-child(2) {
              font-family: "Strapel medium";
              font-size: 16px;
              span:last-child {
                color: #5e5e5e;
              }
            }
            td:last-child {
              font-family: "Strapel medium";
              font-size: 16px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }
    footer {
      border: 1px solid #222325;
      border-radius: 20px;
      margin: 100px 29px 0 35px;
      background-color: #101113;
      padding: 50px 50px 43px 50px;
      .header {
        display: flex;
        justify-content: space-between;
        ul.items {
          display: flex;
          li {
            display: flex;
            img {
              width: 40px;
            }
            div {
              margin-left: 18px;
              h3 {
                font-family: "Strapel bold";
                font-size: 18px;
              }
              span {
                font-family: "Strapel medium";
                font-size: 16px;
                color: #4c4d4f;
              }
              margin-right: 35px;
            }
          }
        }
        .contacts a {
          margin-right: 20px;
        }
      }
      .medium {
        font-family: "Strapel meduim";
        font-size: 14px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        h3 {
          font-family: "Strapel bold";
          font-size: 12px;
          color: #bcbcbc;
        }
        ul {
          display: flex;
          li {
            margin-left: 30px;
            a {
              font-family: "Strapel medium";
              font-size: 14px;
              color: #bcbcbc;
            }
          }
        }
      }
      > p {
        font-family: "Strapel medium";
        font-size: 12px;
        color: #4c4d4f;
        margin-top: 5px;
      }
    }
    .payments {
      margin-top: 30px;
      margin-bottom: 23px;
      ul {
        display: flex;
        justify-content: center;
        li {
          margin-right: 32px;
        }
      }
    }
    .optional_section {
      padding: 35px 25px 0 25px;
      border-bottom-left-radius: 30px;
      width: 100%;
      max-width: 429px;
      background-color: #0a0b0e;
      border-left: 1px solid #111215;
      .section_1 {
        aspect-ratio: 380 / 225;
        background-image: url("assets/main/optional-bonus.png");
        background-size: cover;
        div {
          margin-left: 19px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          img {
            width: 108px;
          }
          h2 {
            color: #ffffff;
            font-family: "Strapel bold";
            font-size: 22px;
            text-transform: uppercase;
          }
        }
      }
      .section_2 {
        margin-top: 20px;
        aspect-ratio: 380 / 225;
        background-image: url("assets/main/optional-bonus3.png");
        background-size: cover;
        div {
          font-family: "Strapel bold";
          padding: 19px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          button {
            border-radius: 8px;
            width: fit-content;
            background-color: #83dbf9;
            font-size: 16px;
            color: #101010;
            padding: 7px 22px;
          }
          h2 {
            color: #ffffff;

            font-size: 22px;
            text-transform: uppercase;
          }
        }
      }
      .match_info {
        font-family: "Strapel medium";
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 18px;
          color: #bdbdbd;
        }
        .share {
          display: flex;
          .type_match {
            font-size: 16px;
            background-color: #161719;
            border-radius: 10px;
            display: flex;
            button {
              padding: 0 19px;
              height: 100%;
              border: 1px solid rgba(255, 0, 0, 0);
              &.active {
                background-color: #1b1c1e;
                border-radius: 10px;
                border: 1px solid #262729;
              }
            }
          }

          .notification {
            border-radius: 10px;
            margin-left: 7px;
            width: 40px;
            height: 40px;
            background-color: #1b1c1e;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 13px;
            }
          }
        }
      }
      .matches {
        margin-top: 29px;
        li {
          padding: 15px;
          height: 181px;
          border-radius: 10px;
          border: 1px solid #222325;
          text-align: center;
          margin-bottom: 10px;
          .header {
            display: flex;
            justify-content: space-between;
          }
          .team {
            width: 33%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            span {
              font-family: "Strapel medium";
              font-size: 13px;
              color: #acacac;
            }
            img {
              width: 40px;
              margin: auto;
            }
          }
          .info {
            h2 {
              font-family: "Strapel bold";
              font-size: 14px;
              color: #bcbcbc;
            }
            p {
              font-family: "Strapel medium";
              font-size: 12px;
              color: #4c4d4f;
            }
            span:first-child {
              margin-top: 11px;
              font-family: "Strapel medium";
              font-size: 22px;
              color: #1e1e1e;
            }
            span:last-child {
              margin-top: 11px;
              font-family: "Strapel medium";
              font-size: 22px;
              color: #1e1e1e;
            }
          }
          .description {
            margin-top: 14px;
            font-family: "Strapel medium";
            font-size: 12px;
            color: #4c4d4f;
          }
          button {
            height: 40px;
            text-transform: uppercase;
            margin-top: 10px;
            font-family: "Strapel bold";
            font-size: 14px;
            color: #bcbcbc;
            display: block;
            background-color: #1b1c1e;
            border-radius: 1px solid #262729;
            width: 100%;
            padding: 7px;
            border-radius: 10px;
          }
        }
      }
      .watch_all {
        font-family: "Strapel bold";
        font-size: 14px;
        display: block;
        text-transform: uppercase;
        background-color: #1b1c1e;
        padding: 8px 29px 7px 29px;
        border: 1px solid #262729;
        border-radius: 10px;
        margin: 30px auto 0;
      }
    }
  }
  .right_sidebar {
    padding: 35px 15px 0 15px;
    background-color: #0d0e11;
    width: 300px;
    border-left: 1px solid #151619;
    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .users {
        flex: none;
        background-color: #1b1c1e;
        width: 123px;
        height: 35px;
        border-radius: 7px;
        display: flex;
        padding-left: 23px;
        align-items: center;
        span {
          margin-top: 5px;
          position: relative;
          font-family: "Strapel medium";
          font-size: 13px;
          margin-right: 9px;
          &::after {
            content: "";
            position: absolute;
            width: 4.5px;
            height: 4px;
            left: -10px;
            top: 5px;
            border-radius: 100%;
            background-color: #a8a9ab;
          }
        }
        img:nth-child(2) {
          z-index: 3;
        }
        img:nth-child(3) {
          transform: translateX(-5px);
          z-index: 2;
        }
        img:nth-child(4) {
          transform: translateX(-11px);
          z-index: 1;
        }
      }
      .rules {
        font-family: "Strapel medium";
        font-size: 14px;
        background-color: #1b1c1e;
        height: 35px;
        padding: 8px 16px 9px 16px;
        border-radius: 7px;
        margin-left: 5px;
      }
      .next {
        background-color: #1b1c1e;
        height: 35px;
        width: 35px;
        border-radius: 7px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 7px;
        }
      }
    }
    .chat {
      margin-top: 20px;
      li {
        margin-bottom: 18px;
        display: flex;
        > img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
        .content {
          width: 100%;
          .name_time {
            display: flex;
            justify-content: space-between;
            .name {
              span {
                font-family: "Strapel bold";
                font-size: 14px;
                color: #7c7c7c;
              }
              &.moderate span{
                color: #fdf74b;
                text-transform: uppercase;
              }
              img {
                width: 15px;
              }
            }
            span {
              font-family: "Strapel medium";
              font-size: 13px;
              color: #3d3f43;
            }
          }
          p {
            font-family: "Strapel medium";
            font-size: 15px;
            color: #bcbcbc;
            b {
              color: #727272;
            }
          }
        }
      }
    }
    .textarea {
      position: relative;
      border-radius: 15px;
      border: 1px solid #222325;
      display: flex;
      align-items: flex-start;
      padding: 23px 20px;
      textarea {
        font-family: "Strapel medium";
        font-size: 15px;
        color: #bcbcbc;
        &:focus {
          outline: none;
        }
        resize: none;
      }
      button {
        margin-left: 10px;
        width: 17px;
        height: 17px;
        img {
          width: 17px;
        }
      }
    }
  }

  // padding: 35px 15px 0 15px;
  // background-color: #0d0e11;
  // width: 234px;
  // border-right: 1px solid #151619;
}
