// src/styles/_variables.scss
// Colors
$bg-color: rgba(8, 9, 12, 1);
$bg-secondary-color: rgba(17, 18, 20, 1);
$bg-third-color: #191a1c;
$bg-forth-color: #202123;
$bg-element-color: #1b1c1e;
$bg-violet-color: #bd52fd;
$bg-left-color: #0d0e11;

$bg-blue: linear-gradient(to right, #96e3fd 0%, #91e2fd 50%, #53d4ff 100%);
$bg-yellow: #fdf74b;

$bg-element-color-light: lighten($bg-element-color, 3%);
$bg-element-color-darker: darken($bg-element-color, 4%);

$bg-violet-light: lighten($bg-violet-color, 3%);
$bg-violet-darker: darken($bg-violet-color, 4%);

$text-blue: #91e2fd;
