@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Strapel";
    src: url("../assets/font/Stapel-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Strapel";
    src: url("../assets/font/Stapel-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Strapel";
    src: url("../assets/font/Stapel-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: "Strapel";
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(46, 46, 46);
}
