@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .fc {
        @apply flex items-center justify-center;
    }
    .fcc {
        @apply flex flex-col items-center justify-center;
    }
}

body {
    font-family: "Stapel";
    font-weight: bold;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(46, 46, 46);
}
